body {
  padding-top: 70px;
}

.btn.btn-default.navbar-btn {
  border: none;
  background-color: #FFF;
}

.btn.btn-default.navbar-btn:hover {
  border: none;
  background-color: #FFF;
}

.navbar.navbar-default.navbar-fixed-top {
  background-color: #36474F;
}

.nav.navbar-nav.navbar-right {
  margin-right: 10px;
}
