body {
  padding-top: 70px;
  padding-left: 20px;
}

.postObj {
  border-radius: 25px;
  -webkit-box-shadow: 0 0 7px #ddd;
  padding: 20px;
  margin: 10px;
  width: 350px;
  height: 200px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s ease-in-out;
}

div.postObj:hover {
  transform: scale(1.1);
}

/* Navigation bar title */
a.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 180%;
  text-color: #FFF;
}

/* Navigational bar */
.navbar.navbar-default.navbar-fixed-top {
  background-color: #36474F;
}

.nav.navbar-nav.navbar-right {
  margin-right: 10px;
}

.nav.nav-pills {
  margin-top:5px;
  text-color: #36474F;
}

.nav.nav-pills:hover {
  margin-top:5px;
  text-color: #36474F;
  cursor: pointer;
}

a.nav.nav-pills {
  text-color: #36474F;
}

.form-control {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 5;
}

.search {
  position: relative;
  width: 190px;
  height: 30px;
}

