@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@import play.mvc.BodyParser.Json
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Pique") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
  <!--  <h1>@message</h1> -->

    <div class = "page">
    @for(i <- 1 to 20) {
        <div class = "row">
        @for(j <- 1 to 3) {
            <div class="col-sm-4">
                <h2>Hashtag Content</h2>
                <p>Some content here, perhaps a tweet</p>
                <a href="https://google.com"><i class="glyphicon glyphicon-eye-open"></i></a>
            </div>
        }
        </div>
    }
    </div>
}
