@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@import play.mvc.BodyParser.Json
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Pique") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <!--  <h1>@message</h1> -->

    <div class = "container" id = "page">
    @for(i <- 1 to 20) {
        <div class = "row">
        @for(j <- 1 to 3) {
            <div class="col-sm-4 post">
            </div>
        }
        </div>

            <!-- Trigger the modal with a button -->
        <!--<button type="button" class="btn btn-info btn-md" id="myBtn">Some Post</button>-->

            <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Twitter Post</h4>
                    </div>
                    <div class="modal-body">
                        <p>Status update #ThisIsAStatus.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
            $(document).ready(function(){
                $(".modalPost").click(function(){
                    $("#myModal").modal({backdrop: true});
                });
            });
    </script>


}
